{
  "openapi": "3.0.3",
  "info":
    {
      "title": "Arcom Gateway API",
      "version": "2.6",
      "description": "API de contrato governado sobre dados de negocio. Auth por header X-API-Key. Todas as rotas GET.",
    },
  "servers": [{ "url": "https://kabana-api.arcom.com.br" }],
  "security": [{ "ApiKeyAuth": [] }],
  "components":
    {
      "securitySchemes":
        {
          "ApiKeyAuth":
            { "type": "apiKey", "in": "header", "name": "X-API-Key" },
        },
    },
  "paths":
    {
      "/v1/debitos":
        {
          "get":
            {
              "summary": "Lista/busca em debitos",
              "tags": ["debitos"],
              "parameters":
                [
                  {
                    "name": "acerto.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "cidade_estado.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "cliente.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "cnpj.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "coordenador.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "data_emissao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "data_vct",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "data_vencto",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "deb_vlr_docto",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "documento.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "estado.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "fantasia.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "filial.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "gerente.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "inconsistencia.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "marca_rede.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "nome_consultor.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "nome_coordenador.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "nome_gerente.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "nome_resp_cob.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "origem_pedido.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "pagto_antecipado.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "ramo_atividade.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "razao_social.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "rede.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/debitos/agregado":
        {
          "get":
            {
              "summary": "Agrega debitos (top-N, somas, series)",
              "tags": ["debitos"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/debitos/{id}":
        {
          "get":
            {
              "summary": "Um registro de debitos por id",
              "tags": ["debitos"],
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200": { "description": "documento" },
                  "404": { "description": "nao encontrado" },
                },
            },
        },
      "/v1/representante-info":
        {
          "get":
            {
              "summary": "Lista/busca em representante-info",
              "tags": ["representante-info"],
              "parameters":
                [
                  {
                    "name": "bairro.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "cep.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "cnpj.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "cpf.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "data_entrada",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "data_entrada_original",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "data_nascimento",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "data_saida",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "ddd_telefone.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "ddd_telefone_aux.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "desc_cidade.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "empresa_funcionario.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "endereco.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "estado.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "funcionario.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "latitude.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "logradouro.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "longitude.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "nome.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "nro_endereco.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "nro_telefone.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "nro_telefone_aux.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "representante.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "setor_atual.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "sexo.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/representante-info/agregado":
        {
          "get":
            {
              "summary": "Agrega representante-info (top-N, somas, series)",
              "tags": ["representante-info"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/representante-info/{id}":
        {
          "get":
            {
              "summary": "Um registro de representante-info por id",
              "tags": ["representante-info"],
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200": { "description": "documento" },
                  "404": { "description": "nao encontrado" },
                },
            },
        },
      "/v1/cliente-monitorado":
        {
          "get":
            {
              "summary": "Lista/busca em cliente-monitorado",
              "tags": ["cliente-monitorado"],
              "parameters":
                [
                  {
                    "name": "dataInclusao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "id",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idCliente",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "rede",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "setores",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "tipoMonitoramento.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/cliente-monitorado/agregado":
        {
          "get":
            {
              "summary": "Agrega cliente-monitorado (top-N, somas, series)",
              "tags": ["cliente-monitorado"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/cliente-monitorado/{id}":
        {
          "get":
            {
              "summary": "Um registro de cliente-monitorado por id",
              "tags": ["cliente-monitorado"],
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200": { "description": "documento" },
                  "404": { "description": "nao encontrado" },
                },
            },
        },
      "/v1/cidades":
        {
          "get":
            {
              "summary": "Lista/busca em cidades",
              "tags": ["cidades"],
              "parameters":
                [
                  {
                    "name": "cidade",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "descricao.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "estado.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/cidades/agregado":
        {
          "get":
            {
              "summary": "Agrega cidades (top-N, somas, series)",
              "tags": ["cidades"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/cidades/{id}":
        {
          "get":
            {
              "summary": "Um registro de cidades por id",
              "tags": ["cidades"],
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200": { "description": "documento" },
                  "404": { "description": "nao encontrado" },
                },
            },
        },
      "/v1/disparo-mensagem-nines":
        {
          "get":
            {
              "summary": "Lista/busca em disparo-mensagem-nines",
              "tags": ["disparo-mensagem-nines"],
              "parameters":
                [
                  {
                    "name": "dataDisparo",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "id.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idReferencia.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "nroIncricao.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "numerosUtilizados",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.callback.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.callback_url.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.contato.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.document.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.linhaDigitavel.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.name.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.nome.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.nomeArquivo.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.nroInscricao.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.params.body.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.params.carousel.cards.body.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.params.carousel.cards.buttons.sub_type.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.params.carousel.cards.buttons.value.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.params.carousel.cards.header.type.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.params.carousel.cards.header.value.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.params.header.type.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.params.header.value.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.phone_number.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.telefone.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "payload.tipo.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/disparo-mensagem-nines/agregado":
        {
          "get":
            {
              "summary": "Agrega disparo-mensagem-nines (top-N, somas, series)",
              "tags": ["disparo-mensagem-nines"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/disparo-mensagem-nines/{id}":
        {
          "get":
            {
              "summary": "Um registro de disparo-mensagem-nines por id",
              "tags": ["disparo-mensagem-nines"],
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200": { "description": "documento" },
                  "404": { "description": "nao encontrado" },
                },
            },
        },
      "/v1/ponto-digital-s3a":
        {
          "get":
            {
              "summary": "Lista/busca em ponto-digital-s3a",
              "tags": ["ponto-digital-s3a"],
              "parameters":
                [
                  {
                    "name": "coordenada.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataEnvioServidor",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataFimAlmocoMobile",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataFimAlmocoServidor",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataFimJornadaMobile",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataFimJornadaServidor",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataHoraRegistro",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataInicioAlmocoMobile",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataInicioAlmocoServidor",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataInicioJornadaMobile",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataInicioJornadaServidor",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataSincronizacao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "entrada",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "id.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idSetor",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "pausas.dataFimMobile",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "pausas.dataFimServidor",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "pausas.dataInicioMobile",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "pausas.dataInicioServidor",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "pausas.observacao.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "resumoDiario.observacoesDeMercado.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "resumoDiario.observacoesGerais.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "resumoDiario.solucoes.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "tipoPontoS3a",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/ponto-digital-s3a/agregado":
        {
          "get":
            {
              "summary": "Agrega ponto-digital-s3a (top-N, somas, series)",
              "tags": ["ponto-digital-s3a"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/ponto-digital-s3a/{id}":
        {
          "get":
            {
              "summary": "Um registro de ponto-digital-s3a por id",
              "tags": ["ponto-digital-s3a"],
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200": { "description": "documento" },
                  "404": { "description": "nao encontrado" },
                },
            },
        },
      "/v1/erro-aceite-transportadora":
        {
          "get":
            {
              "summary": "Lista/busca em erro-aceite-transportadora",
              "tags": ["erro-aceite-transportadora"],
              "parameters":
                [
                  {
                    "name": "assinatura_detectada",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataErro",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "foto.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "qrCode.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/erro-aceite-transportadora/agregado":
        {
          "get":
            {
              "summary": "Agrega erro-aceite-transportadora (top-N, somas, series)",
              "tags": ["erro-aceite-transportadora"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/erro-aceite-transportadora/{id}":
        {
          "get":
            {
              "summary": "Um registro de erro-aceite-transportadora por id",
              "tags": ["erro-aceite-transportadora"],
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200": { "description": "documento" },
                  "404": { "description": "nao encontrado" },
                },
            },
        },
      "/v1/ramo-atividades":
        {
          "get":
            {
              "summary": "Lista/busca em ramo-atividades",
              "tags": ["ramo-atividades"],
              "parameters":
                [
                  {
                    "name": "descricao.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "id.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/ramo-atividades/agregado":
        {
          "get":
            {
              "summary": "Agrega ramo-atividades (top-N, somas, series)",
              "tags": ["ramo-atividades"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/ramo-atividades/{id}":
        {
          "get":
            {
              "summary": "Um registro de ramo-atividades por id",
              "tags": ["ramo-atividades"],
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200": { "description": "documento" },
                  "404": { "description": "nao encontrado" },
                },
            },
        },
      "/v1/solicitacao-recolhimento-ivendas":
        {
          "get":
            {
              "summary": "Lista/busca em solicitacao-recolhimento-ivendas",
              "tags": ["solicitacao-recolhimento-ivendas"],
              "parameters":
                [
                  {
                    "name": "creditoFinalNegociado",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataCriacao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataEmissaoOrigem",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataProcessamento",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataSolucao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "descMerc.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "filialOrigem",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "fotos.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "id.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idCliente",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idItemNfOrigem.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idMercadoria",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idSetor",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "itemExclusivo",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "loteProcessamento.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "motivo",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "nroNotaOrigem",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "previsaoCredito",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "qtdFinalNegociada",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "qtdSolicitada",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "solucao.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "status",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "tipoRecolhimento.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/solicitacao-recolhimento-ivendas/agregado":
        {
          "get":
            {
              "summary": "Agrega solicitacao-recolhimento-ivendas (top-N, somas, series)",
              "tags": ["solicitacao-recolhimento-ivendas"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/solicitacao-recolhimento-ivendas/{id}":
        {
          "get":
            {
              "summary": "Um registro de solicitacao-recolhimento-ivendas por id",
              "tags": ["solicitacao-recolhimento-ivendas"],
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200": { "description": "documento" },
                  "404": { "description": "nao encontrado" },
                },
            },
        },
      "/v1/extrato-representante-ivendas":
        {
          "get":
            {
              "summary": "Lista/busca em extrato-representante-ivendas",
              "tags": ["extrato-representante-ivendas"],
              "parameters":
                [
                  {
                    "name": "dataAlteracao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataExtrato",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataReferencia",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataValidade",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "descricaoLancto.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "id.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idEmpresa",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idRepresentante",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "seqExtrato",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "validoElasticsearch.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "vlrLancto",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/extrato-representante-ivendas/agregado":
        {
          "get":
            {
              "summary": "Agrega extrato-representante-ivendas (top-N, somas, series)",
              "tags": ["extrato-representante-ivendas"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/extrato-representante-ivendas/{id}":
        {
          "get":
            {
              "summary": "Um registro de extrato-representante-ivendas por id",
              "tags": ["extrato-representante-ivendas"],
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200": { "description": "documento" },
                  "404": { "description": "nao encontrado" },
                },
            },
        },
      "/v1/debitos-cobranca-v2":
        {
          "get":
            {
              "summary": "Lista/busca em debitos-cobranca-v2",
              "tags": ["debitos-cobranca-v2"],
              "parameters":
                [
                  {
                    "name": "cnpj",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataAlteracao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataVencto",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "exibeChatBot",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "id",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idCliente",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idEmpresaContabil",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "notasFiscais.dataEmissao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "notasFiscais.idFilial",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "notasFiscais.idNotaFiscal",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "notasFiscais.idSeqDebito",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "notasFiscais.vlrDebito",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "notificaCliente",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "vlrDebito",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/debitos-cobranca-v2/agregado":
        {
          "get":
            {
              "summary": "Agrega debitos-cobranca-v2 (top-N, somas, series)",
              "tags": ["debitos-cobranca-v2"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/debitos-cobranca-v2/{id}":
        {
          "get":
            {
              "summary": "Um registro de debitos-cobranca-v2 por id",
              "tags": ["debitos-cobranca-v2"],
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200": { "description": "documento" },
                  "404": { "description": "nao encontrado" },
                },
            },
        },
      "/v1/mercadorias":
        {
          "get":
            {
              "summary": "Lista/busca em mercadorias",
              "tags": ["mercadorias"],
              "parameters":
                [
                  {
                    "name": "codigoFoto",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "descricao.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "id.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "situacao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "unidadeVenda.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/mercadorias/agregado":
        {
          "get":
            {
              "summary": "Agrega mercadorias (top-N, somas, series)",
              "tags": ["mercadorias"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/mercadorias/{id}":
        {
          "get":
            {
              "summary": "Um registro de mercadorias por id",
              "tags": ["mercadorias"],
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200": { "description": "documento" },
                  "404": { "description": "nao encontrado" },
                },
            },
        },
      "/v1/saldo-vendedor-promox":
        {
          "get":
            {
              "summary": "Lista/busca em saldo-vendedor-promox",
              "tags": ["saldo-vendedor-promox"],
              "parameters":
                [
                  {
                    "name": "dataConsulta",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataPagamento",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "dataPagtoBrinde",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "id",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idPromocao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idPromocaoRestricao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "idRepresentante",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "qtdPontos",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "qtdTotalPromocao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "qtdUnidadePromocao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "valorAtingido",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "valorBonusExtra",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "valorDesafioVenda",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "valorFaixa",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "valorPremioDinheiro",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "valorVendaGeral",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "valorVendaPeriodoBase",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/saldo-vendedor-promox/agregado":
        {
          "get":
            {
              "summary": "Agrega saldo-vendedor-promox (top-N, somas, series)",
              "tags": ["saldo-vendedor-promox"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/saldo-vendedor-promox/{id}":
        {
          "get":
            {
              "summary": "Um registro de saldo-vendedor-promox por id",
              "tags": ["saldo-vendedor-promox"],
              "parameters":
                [
                  {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "schema": { "type": "string" },
                  },
                ],
              "responses":
                {
                  "200": { "description": "documento" },
                  "404": { "description": "nao encontrado" },
                },
            },
        },
      "/v1/ocor-clientes":
        {
          "get":
            {
              "summary": "Lista/busca em ocor-clientes",
              "tags": ["ocor-clientes"],
              "parameters":
                [
                  {
                    "name": "ativa.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "automatico.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "bloqueia_pedido.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "bloqueio_rede.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "desbloq_automatico.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "descricao.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "desmarca_antecipado.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "exclui_cliente.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "libera_uso_palm.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "lista_cliente.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "marca_antecipado.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "nivel_hierarquico",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "ocor_bloqueio",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "ocorrencia",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "permite_antecipado.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "relacionar_debitos.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "situacao_pedido.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "situacao_reimplantacao.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "soluciona_solicitacao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "tempo_exclusao",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "tipo",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "visualiza_cba.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "visualiza_mobile.keyword",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "filtro exato (multiplos por virgula) e intervalo .gte/.lte/.gt/.lt",
                  },
                  {
                    "name": "q",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "ordenar_por",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "limite",
                    "in": "query",
                    "schema": { "type": "integer" },
                  },
                  {
                    "name": "cursor",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "pagina de resultados" } },
            },
        },
      "/v1/ocor-clientes/agregado":
        {
          "get":
            {
              "summary": "Agrega ocor-clientes (top-N, somas, series)",
              "tags": ["ocor-clientes"],
              "parameters":
                [
                  {
                    "name": "por",
                    "in": "query",
                    "required": true,
                    "schema": { "type": "string" },
                    "description": "campo(s) de agrupamento por virgula; temporal: campo:mes",
                  },
                  {
                    "name": "metrica",
                    "in": "query",
                    "schema": { "type": "string" },
                    "description": "count | sum:campo | avg:campo | min:campo | max:campo",
                  },
                  {
                    "name": "top",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                  {
                    "name": "incluir_campos",
                    "in": "query",
                    "schema": { "type": "string" },
                  },
                ],
              "responses": { "200": { "description": "resultado agregado" } },
            },
        },
      "/v1/ocor-clientes/{id}":
        {
          "get":
            {
              "summary": "Um registro de ocor-clientes por id",
              "tags": ["ocor-clientes"],
              "parameters":
                [
[...]
